h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 30px;
  color: #2CC5DC;
  text-shadow: 2px 2px 2px #3F88BF;
}

.canvas-wrapper{
  width: 800px;
  height: 600px;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

#start, #reset, #pause {
  margin-top: 50px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 50px;
  text-align: center;
  width: 80px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+17,6199c7+50,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100;Blue+Gloss */
  background: #cedbe9; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cedbe9), color-stop(17%,#aac5de), color-stop(50%,#6199c7), color-stop(51%,#3a84c3), color-stop(59%,#419ad6), color-stop(71%,#4bb8f0), color-stop(84%,#3a8bc2), color-stop(100%,#26558b)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
  text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
}

#reset {
  float: right
}

.button-wrapper {
  margin: auto;
  margin-top: 10px;
  width: 400px;
}

.button-wrapper > input:hover {
  cursor: pointer;
}
